# Allow prisma and esbuild install scripts to run during npm install
@prisma/client:postinstall=true
@prisma/engines:postinstall=true
prisma:preinstall=true
prisma:postinstall=true
esbuild:install=true
